option {
  padding: 0;
}

textarea {
  resize: none;
}

@media (min-width: 768px) {
  .sidebar {
    width: 10rem !important;
  }

  .sidebar .nav-item .nav-link {
    width: 10rem;
  }
}

#wrapper #content-wrapper, html, body {
  background-color: #011A36;
  color: #ffffff;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
  color: #000000;
  background-color: #F5B535;
  border-color: #F5B535;
}

a, a:hover {
  color: #F5B535;
  text-decoration: none;
}

.modal {
  color: #000000;
}

.card {
  background-color: transparent;
  border-color: transparent;
}

hr {
  height: 2px;
  background-color: #F5B535;
  border: none;
}