@font-face {
  font-family: Share Tech;
  src: url(../fonts/ShareTechMono-Regular.ttf);
}

html,
body {
  font-family: Share Tech;
}

option {
  padding: 0;
}

textarea {
  resize: none;
}

@media (min-width: 768px) {
  .sidebar {
    width: 10rem !important;
  }

  .sidebar .nav-item .nav-link {
    width: 10rem;
  }
}

#wrapper #content-wrapper,
html,
body {
  background-color: #011a36;
  color: #ffffff;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active {
  color: #000000;
  background-color: #f5b535;
  border-color: #f5b535;
}

a,
a:hover {
  color: #f5b535;
  text-decoration: none;
}

.modal {
  color: #000000;
}

.card {
  background-color: transparent;
  border-color: transparent;
}

hr {
  height: 2px;
  background-color: #f5b535;
  border: none;
}

.bolo {
  width: 100%;
  table-layout: fixed;
  width: 100%;
}

.bolo th {
  color: #f5b535;
}

.bolo,
.bolo tr {
  border: 1px solid #f5b535;
}

.bolo th,
.bolo td {
  padding: 5px 0;
}
